[submodule "distribution-is-all-you-need"]
	path = distribution-is-all-you-need
	url = https://github.com/V0idwu/distribution-is-all-you-need.git
[submodule "gnn-code"]
	path = gnn-code
	url = https://gitee.com/voidwu/gnn-code.git
[submodule "meta-learning-code"]
	path = meta-learning-code
	url = https://gitee.com/voidwu/meta-learning-code.git
